body {
  background: url("https://i.natgeofe.com/n/3a57e30f-6b0a-444c-9b20-8bf481ee1793/01-milky-way-NationalGeographic_1959323.jpg?w=636&h=424");
  opacity: 0.9;
}

.Weather {
  font-family: monospace;
  margin: 50px auto;
  display: block;

  border: 1px solid;
  color: #9772f3;
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 15px;
  background-color: #f9f7fe;
}
.Weather ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.Weather h1 {
  text-align: left;
  color: #43576f;
  margin: 20px 0 0 0;
}

.Weather li {
  font-family: monospace;
  font-weight: 18px;
  text-transform: capitalize;
}
.Weather form {
  margin: 20px;
}
.Weather #btn:hover {
  background-color: thistle;
  color: #9772f3;
  transition: 200ms, ease-in-out;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 35px;
}
.Weather .unit {
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  margin-bottom: 20px;
}
.Weather canvas {
  float: left;
  margin-right: 20px;
}
